.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  @include bgImage(contain, cross, svg);

  &--cross {
    transition: transform $smoothTime linear;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &--menu {
    background-image: url(../images/menu.svg);
    transition-property: background-image;
    transition-duration: $smoothTime;
    transition-timing-function: ease;

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--phone {
    text-decoration: none;
    background-image: url(../images/phone.svg);

    @include onDesktop {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        transform: translate(-100%, 75%);

        display: block;
        width: max-content;
        padding-right: 20px;

        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $colorWhite;
        opacity: 0;
        pointer-events: none;

        transition-property: opacity;
        transition-duration: $smoothTime;
        transition-timing-function: ease;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
