@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin bgImage($size, $name, $format) {
  background-image: url(../images/#{$name}.#{$format});
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}
